 <!-- About Section -->
 <section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About Us</h2>
    </div><!-- End Section Title -->
  
    <div class="container">
  
      <div class="row gy-4">
  
        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          <p>
            Easy Bank was established in 2023 in Tunisia, initiated by a team of
             entrepreneurs and financial technology experts. Easy Bank 
             accompanies customers step by step, starting from the initial application
              submission to receiving approval notifications, and progressing through negotiation 
              stages with banks to secure the best offer that suits their needs.
          </p>
       
        </div>
  
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <p>At Easy Bank, we're committed to revolutionizing the personal banking sector. 
            Our primary objective is to provide personalized loan solutions for our clients.
             Through our innovative digital platform, we're simplifying the loan process and 
             other banking services, all to meet your needs. </p>
        </div>
  
      </div>
  
    </div>
  
  </section><!-- /About Section -->
  
  
  
   <!-- why easybank Section -->
   <section id="skills" class="skills section light-background">
  
    <div class="container" data-aos="fade-up" data-aos-delay="100">
  
      <div class="row">
  
        <div class="col-lg-6 d-flex align-items-center">
          <img src="assets/img/why-us.png" class="img-fluid" alt="">
        </div>
  
        <div class="col-lg-6 pt-4 pt-lg-0 content">
  
          <h3>Why EasyBank ?</h3>
          <p class="fst-italic">
            We're a fintech, accredited with Tunisia's startup label. Our commitment to
             professionalism is reflected in our innovative platform. We promote financial 
             inclusion, supporting our clients with the best loan services and other banking solutions.
              Using advanced AI, we provide personalized advisory services and facilitate procedures based on eligibility 
              and loan accessibility criteria.
          </p>
        </div>
      </div>
  
    </div>
  
  </section>