<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
  
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
            <h1>Together, we build a better financial future</h1>
            <p style="color: gray;">Welcome to our community</p>
            <div class="d-flex">
              <a routerLink="/loan-calculator" class="btn-get-started" style="color: black;" aria-label="Loan Calculator"><i class="bi bi-calculator-fill"></i>  <span style="color: black;">Loan Calculator</span></a>
              <a href="https://www.tiktok.com/@easybank.tn/video/7320660059032210693?is_from_webapp=1&web_id=7226265971303466502" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle" style="color: black;"></i><span style="color: black;">Watch the video</span></a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
            <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
  
    </section><!-- /Hero Section -->
  
  